//-----------------------------定義-----------------------------
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$main-color: #3b3b3b;
$second-color: #f1f1f1;

.card-radius{
  border-radius: 8px;
}
.maw100p{
  max-width: 100%;
}

//-------------------------------RWD-------------------------------

@media (max-width: 991.98px) {
  .exp-list{
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}
@media (max-width: 575.98px) {
  .navbar-elements{
    max-width: 516px;
  }
  .exp-list{
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}
@media (min-width: 576px) {
  .navbar-elements{
    max-width: 516px;
  }
  .slogan{
    gap: 8px;
  }
}
@media (min-width: 768px) {
  .navbar-elements{
    max-width: 696px;
  }
}
@media (min-width: 992px) {
  .navbar-elements{
    max-width: 936px;
  }
}
@media (min-width: 1200px) {
  .navbar-elements{
    max-width: 1116px;
  }
}
@media (min-width: 1400px) {
  .navbar-elements{
    max-width: 1296px;
  }
}

//-------------------------------全域設定-------------------------------

// *{
//   outline: 1px solid black;
// }

body{
  font-family: "Noto Sans TC","Noto Sans", sans-serif;
  line-height: 1.5;
}

a{
  text-decoration: none;
}
ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

//-------------------------------navbar-------------------------------

.navbar{
  border-bottom: 1px solid $second-color;

  a{
    color: #000;
  }
  h1{
    margin: 0;
  }
  &-logo{
    top: 36px;
  }
  &-nav{
    padding: 32px 0;
    gap: 40px;
  }
}
.navbar-elements{
  width: 100%;
  margin: 0 auto;
}
.nav-item{
  padding: 4px 8px;
}

//-------------------------------section-------------------------------

section{
  background: #fafafa;
  gap: 24px;
  padding: 80px 0;
}

.slogan{
  display: flex;
  padding: 59px 71px;
  gap: 16px;

  p{
    margin-bottom: 0;
  }
  span{
    display: inline-block;/*跳行*/
    z-index: 0;
    img{
      background: none;
      z-index: -1;
      transform: translateX(-50%);
      bottom: -5px;
      left: 50%;
    }
  }
  img{
    position: absolute;
  }
  &-quote-l{
    top: 0;
    left: 0;
  }
  &-quote-r{
    bottom: 0;
    right: 0;
  }
}

.exp-list{
  display: flex;
  color: $main-color;
  gap: 40px;

  h6{
    color: #5b5b5b;
    &::before{
      content: "";
      border-bottom: 2px solid #C1C1C1;
      z-index: 2;
      top: 25px;
      left: 47%;
      width: 24px;
      position: absolute;
    }
  }
  p{
    margin: 0;
    color: $main-color
  }
}

.exp{
  position: relative;
  gap: 8px;
  width: 300px;
}

//-------------------------------main-------------------------------

main{
  margin: 120px auto 0 auto;
  gap: 72px;

  .row{
    margin: 0;
  }
}

.card{
  gap: 16px;
  padding: 0;

  img{
    max-width: 636px;
    height: auto;
    display: block;
    border: 1px solid $second-color;
    transition-duration: 0.5s;
    &:hover{
      cursor: pointer;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &-list{
    gap: 24px;
  }
  &-body{
    gap: 16px;
    padding: 0 16px 0 16px;
  }
  &-content{
    gap: 8px;
  }
  &-title{
    color: $main-color;
    line-height: 1.2;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }
  &-text{
    color: #919191;
    font-weight: 400;
  }
  &-tags{
    gap: 16px;
    li{
      text-wrap: nowrap;
    } 
    a{
      border-radius: 16px;
      padding: 4px 12px;
      color: $main-color;
      background: $second-color;
      transition-duration: 0.5s;
      &:hover{
        color: $second-color;
        background: $main-color;
      }
    }
  }
}


.pagination{
    gap: 16px;
    padding-bottom: 120px;
    min-height: calc(100% - 50px);
    li{
      width: 40px;
      height: 40px;
      gap: 10px;
      .pagination-alink1{
        color: #fff;
      background: #000;
      }
    }
    a{
      line-height: 36px;
      border-radius: 4px;
      padding: 2px 13px;
      display: block;
      transition: 0.3s;
      color: #000;
      &:hover{
        color: #fff;
        background: #000;
      }
    }
}

//-------------------------------footer-------------------------------

.footer-lg{
  padding: 80px 312px;
  max-height: 424px;
  border-top: 1px solid #fafafa;
  font-size: 20px;
  color: $main-color;
  a{
    color: #919191;
  }
}

.circle{
  z-index: -1;
  left: -10%;
  top: -10%;
  width: 813px;
  height: 813px;
  border: 5px dashed rgba(217,217,217,0.6);
  border-radius: 50%;
}

.contact{
  gap: 24px;
}