@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$main-color: #3b3b3b;
$second-color: #f1f1f1;

.card-radius{
  border-radius: 8px;
}
.maw100p{
  max-width: 100%;
}

//-----------------------------定義分隔線-----------------------------

@media (max-width: 576px) {
  .slogan{
    p{
      margin-bottom: 8px;
    }
  }

  .exp-list{
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}

//-------------------------------RWD-------------------------------
// *{
//   outline: 1px solid black;
// }

body{
  font-family: "Noto Sans TC","Noto Sans", sans-serif;
  line-height: 1.5;
}

a{
  color: #000;
  text-decoration: none;
}
ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar{
  padding: 32px 0;

  &-elements{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
  }
  &-logo{
    top: 36px;
  }
  &-nav{
    gap: 40px;
  }
}
.nav-item{
  padding: 4px 8px;
}

section{
  background: #fafafa;
  gap: 24px;
  padding: 80px 0;
}

.slogan{
  padding: 59px 71px;

  p{
    gap: 16px;
  }
  span{
    display: inline-block;
    z-index: 0;
    img{
      background: none;
      z-index: -1;
      transform: translateX(-50%);
      bottom: -5px;
      left: 50%;
    }
  }
  img{
    position: absolute;
  }
  &-quote-l{
    top: 0;
    left: 0;
  }
  &-quote-r{
    bottom: 0;
    right: 0;
  }
}


.exp-list{
  display: flex;
  color: $main-color;
  gap: 40px;

  h6{
    color: #5b5b5b;
  }
  h6::before{
    content: "";
    border-bottom: 2px solid #C1C1C1;
    z-index: 2;
    top: 25px;
    left: 47%;
    width: 24px;
    position: absolute;
  }
  p{
    margin: 0;
    color: $main-color
  }
}

.exp{
  position: relative;
  gap: 8px;
  width: 300px;
}

main{
  margin: 120px auto 0 auto;

  .container{
    padding: 0 12px;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
}

.card{
  transition-duration: 0.5s;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  img{
    height: auto;
    display: block;
    border: 1px solid $second-color;
  }
  &-tags{
    gap: 16px;
    li{
      text-wrap: nowrap;
    } 
    a{
      border-radius: 20px;
      padding: 5px 10px;
      color: $main-color;
      background: $second-color;
      transition-duration: 0.5s;
      &:hover{
        color: $second-color;
        background: $main-color;
      }
    }
  }
}

.card-body{
  padding: 10px 10px 0 10px;
  h3{
    color: $main-color;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  p{
    color: #919191;
    margin-bottom: 20px;
  }
}

.pagination{
    gap: 0 16px;
    padding-bottom: 120px;
}

.footer{
  height: 50px;
  margin-top: -50px;
  background: $second-color;
}