//-----------------------------定義-----------------------------
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$main-color: #3b3b3b;
$second-color: #f1f1f1;
$nine-one-color: #919191;
$c-one-color: #c1c1c1;
$black: #000;
$white: #fff;

.card-radius{
  border-radius: 8px;
}
.maw100p{
  max-width: 100%;
}
.gap40{
  gap: 40px;
}

//-------------------------------RWD-------------------------------


@media (max-width: 991.98px) {
  .exp-list{
  flex-direction: column;
  gap: 20px;
  padding: 0 32px;
  }
  .footer{
    .container{
      flex-direction: column;
      text-align: center;
    }
  }
}
  
@media (max-width: 767.98px) {
  .footer{
    background-image: url("../img/footer/footer-bg-sm.png");
  }
}

@media (max-width: 575.98px) {
  .exp-list{
   flex-direction: column;
   gap: 20px;
   padding: 0 32px;
  }
}

@media (min-width: 768px) {
  .footer{
    background-image: url("../img/footer/footer-bg-lg.png");
  }
}

//-------------------------------全域設定-------------------------------

// *{
//   outline: 1px solid black;
// }

body{
  font-family: "Noto Sans TC","Noto Sans", sans-serif;
  line-height: 1.5;
}

a{
  text-decoration: none;
}

ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

p{
  margin: 0;
}

//-------------------------------效果-------------------------------

.nav-top{
  background:
  linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 0,
  linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 100%,
  linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 0,
  linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 100%,
  linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 0 0,
  linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 100% 0,
  linear-gradient(to top, $nine-one-color 1px, transparent 1px) 0 100%,
  linear-gradient(to top, $nine-one-color 1px, transparent 1px) 100% 100%;
  
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.pagination-enable{
  color: $white;
  background: $black;
}
.pagination-disable{
  color: $black;
}
    
.sns-enable{
  color: $white;
  background-color: $black;
  border: 1px solid $black;
  &:hover{
  color: $white;
  }
}
  
.sns-disable{
  color: $main-color;
  background-color: $white;
  border: 1px solid $c-one-color;
  &:hover{
  color: $main-color;
  }
}

//-------------------------------navbar-------------------------------

.navbar{
  border-bottom: 1px solid $second-color;

  li{
    transition: 0.2s;

    &:hover{
      background:
      linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 0,
      linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 100%,
      linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 0,
      linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 100% 0,
      linear-gradient(to top, $nine-one-color 1px, transparent 1px) 0 100%,
      linear-gradient(to top, $nine-one-color 1px, transparent 1px) 100% 100%;
    
      font-weight: 600;
      background-repeat: no-repeat;
      background-size: 8px 8px;
    }
  }
  .container{
    gap: 568px;
    height: 96px;
  }
  a{
    color: $black;
  }
}
.site-logo{
  padding: 22px 0;
}
.nav-pag{
  display: block;
  padding: 4px 8px;
}

//-------------------------------section-------------------------------

section{
  background: #fafafa;
  padding: 80px 0;
}

.slogan{
  padding: 59px 71px;

  p{
    margin-bottom: 0;
  }
  span{
    display: inline-block;/*跳行*/
    z-index: 0;
    img{
      background: none;
      z-index: -1;
      transform: translateX(-50%);
      bottom: -3px;
      left: 50%;
    }
  }
  img{
    position: absolute;
  }
  &-quote-l{
    top: 0;
    left: 0;
  }
  &-quote-r{
    bottom: 0;
    right: 0;
  }
}

.exp-list{
  color: $main-color;

  h6{
    color: #5b5b5b;
    &::before{
      content: "";
      border-bottom: 2px solid $c-one-color;
      z-index: 2;
      top: 25px;
      left: 47%;
      width: 24px;
      position: absolute;
    }
  }
  p{
    margin: 0;
    color: $main-color
  }
}

.exp{
  position: relative;
  gap: 8px;
  width: 300px;
}

//-------------------------------main-------------------------------

main{
  margin: 120px 0 auto;
  gap: 72px;
}

.card{
  gap: 16px;

  &-img-top{
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid $second-color;
    transition-duration: 0.5s;
    &:hover{
      cursor: pointer;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &-body{
    gap: 24px;
    padding: 0 16px;
  }
  &-content{
    gap: 8px;
  }
  &-title{
    color: $main-color;
    line-height: 1.2;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }
  &-text{
    color: $nine-one-color;
    font-weight: 400;
  }
  &-tags{
    gap: 16px;

    li{
      gap: 10px;
      text-wrap: nowrap;
    } 
    a{
      border-radius: 16px;
      padding: 4px 12px;
      color: $main-color;
      background: $second-color;
      transition-duration: 0.5s;
      &:hover{
        color: $second-color;
        background: $main-color;
      }
    }
  }
}


.pagination{
  padding-bottom: 120px;
  min-height: calc(100% - 50px);
  gap: 16px;

  li{
    width: 40px;
    height: 40px;
    gap: 10px;
  }
  a{
    line-height: 36px;
    border-radius: 4px;
    padding: 2px 13px;
    display: block;
    transition: 0.3s;
    &:hover{
      color: $white;
      background: $black;
    }
  }
}

//-------------------------------footer-------------------------------

.footer{
  background-size: cover;

  &-link{
    color: $nine-one-color;
    &:hover{
       color: $main-color;
    }
  }
  .container{
    padding: 80px 0;
    font-size: 20px;
    color: $main-color;
  }
}

/* 廢案保留
.circle{
  z-index: -1;
  left: -10%;
  top: -10%;
  width: 813px;
  height: 813px;
  border: 5px dashed rgba(217,217,217,0.6);
  border-radius: 50%;
}
*/

.contact{
  width: 686px;
  gap: 24px;
}

.sns{
  width: 306px;
  gap: 24px;

  li{
    gap: 8px;
  }
  a{
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: 700;
  }
}