@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.card-radius {
  border-radius: 8px;
}

.maw100p {
  max-width: 100%;
}

.gap40 {
  gap: 40px;
}

@media (max-width: 991.98px) {
  .exp-list {
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .footer {
    background-image: url("../img/footer/footer-bg-sm.png");
  }
}
@media (max-width: 575.98px) {
  .navbar-elements {
    max-width: 516px;
  }

  .exp-list {
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }

  .footer-container {
    max-width: 516px;
  }
}
@media (min-width: 576px) {
  .navbar-elements {
    max-width: 516px;
  }

  .footer-container {
    max-width: 516px;
  }
}
@media (min-width: 768px) {
  .navbar-elements {
    max-width: 696px;
  }

  .footer {
    background-image: url("../img/footer/footer-bg-lg.png");
  }
  .footer-container {
    max-width: 696px;
  }
}
@media (min-width: 992px) {
  .navbar-elements {
    max-width: 936px;
  }

  .footer-container {
    max-width: 936px;
  }
}
@media (min-width: 1200px) {
  .navbar-elements {
    max-width: 1116px;
  }

  .footer-container {
    max-width: 1116px;
  }
}
@media (min-width: 1400px) {
  .navbar-elements {
    max-width: 1296px;
  }

  .footer-container {
    max-width: 1296px;
  }
}
body {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.nav-top {
  background: linear-gradient(to right, #919191 1px, transparent 1px) 0 0, linear-gradient(to right, #919191 1px, transparent 1px) 0 100%, linear-gradient(to left, #919191 1px, transparent 1px) 100% 0, linear-gradient(to left, #919191 1px, transparent 1px) 100% 100%, linear-gradient(to bottom, #919191 1px, transparent 1px) 0 0, linear-gradient(to bottom, #919191 1px, transparent 1px) 100% 0, linear-gradient(to top, #919191 1px, transparent 1px) 0 100%, linear-gradient(to top, #919191 1px, transparent 1px) 100% 100%;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.pagination-enable {
  color: #fff;
  background: #000;
}

.pagination-disable {
  color: #000;
}

.sns-enable {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.sns-enable:hover {
  color: #fff;
}

.sns-disable {
  color: #3b3b3b;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}
.sns-disable:hover {
  color: #3b3b3b;
}

.navbar {
  border-bottom: 1px solid #f1f1f1;
}
.navbar .container {
  position: relative;
}
.navbar li {
  transition: 0.2s;
}
.navbar li:hover {
  background: linear-gradient(to right, #919191 1px, transparent 1px) 0 0, linear-gradient(to right, #919191 1px, transparent 1px) 0 100%, linear-gradient(to left, #919191 1px, transparent 1px) 100% 0, linear-gradient(to left, #919191 1px, transparent 1px) 100% 100%, linear-gradient(to bottom, #919191 1px, transparent 1px) 0 0, linear-gradient(to bottom, #919191 1px, transparent 1px) 100% 0, linear-gradient(to top, #919191 1px, transparent 1px) 0 100%, linear-gradient(to top, #919191 1px, transparent 1px) 100% 100%;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}
.navbar a {
  color: #000;
}
.navbar h1 {
  margin: 0;
}
.navbar-logo {
  top: 36px;
}
.navbar-nav {
  padding: 32px 0;
}

.nav-pag {
  display: block;
  padding: 4px 8px;
}

.navbar-elements {
  width: 100%;
  margin: 0 auto;
}

section {
  background: #fafafa;
  padding: 80px 0;
}

.slogan {
  padding: 59px 71px;
}
.slogan p {
  margin-bottom: 0;
}
.slogan span {
  display: inline-block;
  /*跳行*/
  z-index: 0;
}
.slogan span img {
  background: none;
  z-index: -1;
  transform: translateX(-50%);
  bottom: -3px;
  left: 50%;
}
.slogan img {
  position: absolute;
}
.slogan-quote-l {
  top: 0;
  left: 0;
}
.slogan-quote-r {
  bottom: 0;
  right: 0;
}

.exp-list {
  color: #3b3b3b;
}
.exp-list h6 {
  color: #5b5b5b;
}
.exp-list h6::before {
  content: "";
  border-bottom: 2px solid #c1c1c1;
  z-index: 2;
  top: 25px;
  left: 47%;
  width: 24px;
  position: absolute;
}
.exp-list p {
  margin: 0;
  color: #3b3b3b;
}

.exp {
  position: relative;
  gap: 8px;
  width: 300px;
}

main {
  margin: 120px 0 auto;
  gap: 72px;
}

.card {
  gap: 16px;
}
.card-img-top {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #f1f1f1;
  transition-duration: 0.5s;
}
.card-img-top:hover {
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body {
  gap: 24px;
  padding: 0 16px;
}
.card-content {
  gap: 8px;
}
.card-title {
  color: #3b3b3b;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.card-text {
  color: #919191;
  font-weight: 400;
}
.card-tags {
  gap: 16px;
}
.card-tags li {
  gap: 10px;
  text-wrap: nowrap;
}
.card-tags a {
  border-radius: 16px;
  padding: 4px 12px;
  color: #3b3b3b;
  background: #f1f1f1;
  transition-duration: 0.5s;
}
.card-tags a:hover {
  color: #f1f1f1;
  background: #3b3b3b;
}

.pagination {
  padding-bottom: 120px;
  min-height: calc(100% - 50px);
}
.pagination li {
  width: 40px;
  height: 40px;
  gap: 10px;
}
.pagination a {
  line-height: 36px;
  border-radius: 4px;
  padding: 2px 13px;
  display: block;
  transition: 0.3s;
}
.pagination a:hover {
  color: #fff;
  background: #000;
}

.footer {
  background-size: cover;
}
.footer-link {
  color: #919191;
}
.footer-link:hover {
  color: #3b3b3b;
}
.footer-container {
  padding: 80px 0;
  margin: 0 auto;
  height: auto;
  font-size: 20px;
  color: #3b3b3b;
}

/* 廢案保留
.circle{
  z-index: -1;
  left: -10%;
  top: -10%;
  width: 813px;
  height: 813px;
  border: 5px dashed rgba(217,217,217,0.6);
  border-radius: 50%;
}
*/
.contact {
  width: 686px;
  gap: 24px;
}

.sns {
  width: 306px;
  gap: 24px;
}
.sns li {
  gap: 8px;
}
.sns a {
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 700;
}