doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 首頁 - 六角學院2024切版任務二
		link(rel="stylesheet", href="css/all.css")
		link(rel="icon" type="image/png" size="16x16" href="img/icon/penguin-16.png")
		link(rel="icon" type="image/png" size="32x32" href="img/icon/penguin-32.png")
		link(rel="icon" href="img//icon/penguin-16.ico" type="image/x-icon")

	body
		nav.navbar.navbar-expand-lg.navbar-light
			header.container.position-relative
				h1.mb-0.position-absolute
					a.navbar-brand.m-0.p-0(href="#")
						img.site-logo(src="img/logo_svg/logo.svg", alt="logo")
				#navbarSupportedContent.collapse.navbar-collapse.justify-content-center
					ul.navbar-nav.gap40
						li.nav-item.nav-top
							a.nav-pag(aria-current="page" href="index.html") 首頁
						li.nav-item
							a.nav-pag(aria-current="page" href="portfolio.html") 作品集
						li.nav-item
							a.nav-pag(aria-current="page" href="#") 服務項目
						li.nav-item 
							a.nav-pag(aria-current="page" href="#") 部落格
						li.nav-item
							a.nav-pag(aria-current="page" href="#") 關於我

		section.intro-banner.d-flex.justify-content-center.gap-4
			.intro.d-flex.flex-column.justify-content-center
				.intro-content.d-flex.flex-column.gap-4
					h3 Hi！我是毛巾
					.intro-info.d-flex.flex-column.gap-3
						p.intro-main.gap-2 具有10年經驗的資深UI設計師兼前端工程師
						p 技術雙修並行，熱衷於優化使用者的網頁體驗
					p.intro-skill WEB DEVELOPMENT / BRANDING / UI / UX / APP DESIGN
				ul.intro-link.d-flex.gap-3
					li
						a
							img(src="img/logo_svg/instagram.svg", alt="instagram")
					li
						a
							img(src="img/logo_svg/facebook.svg", alt="facebook")
					li
						a
							img(src="img/logo_svg/youtube.svg", alt="youtube")
			.intro-hero-img
				img(alt="hero-img")

		main.product
			h3.product-title.gap-3 作品介紹
			article.product-work1.product-bg.d-flex
				img(src="img/homepage/homepage-work1.png", alt="星際旅行平台")
				.product-full-intro.intro1.card.card-radius.gap40
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 星際旅行訂票平台
							p.card-text 悠遊宇宙的夢想，從這裡開始實現
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled 
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") Bootstrap
			article.product-work2.product-bg.d-flex
				.product-full-intro.intro2.card.card-radius.gap40
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 星際旅行訂票平台
							p.card-text 悠遊宇宙的夢想，從這裡開始實現
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled 
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") Bootstrap
			article.product-work3.product-bg.d-flex
				img(src="img/homepage/homepage-work3.png", alt="醫美診所官網")
				.product-full-intro.intro3.card.card-radius.gap40
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 星際旅行訂票平台
							p.card-text 悠遊宇宙的夢想，從這裡開始實現
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled 
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") Bootstrap

		footer.footer
			.container.d-flex.align-items-center.justify-content-between.gap40
				.contact.row
					//- 廢案保留span.circle.position-absolute
					a.footer-link(href="#")
						img(src="img/logo_svg/logo.svg" alt="footer_logo")
					p 若有數位產品設計和開發相關問題
						br
						| 歡迎填寫表單，或直接與我聯絡！
					
					a.footer-link(href="mailto: service@hexschool.com" target="_blank") service@hexschool.com
				ul.sns.d-flex.flex-column
					li
						a.sns-enable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/list.svg" alt="填寫表單")
							| 填寫表單
					li
						a.sns-disable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/instagram.svg" alt="instergram")
							| hexschool_demo
					li
						a.sns-disable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/facebook.svg" alt="facebook")
							| hexschoolTW