doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 六角學院2024切版任務二
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")

	body 
		header.navbar.justify-content-center.border-bottom.border-light
			h1.navbar-logo.position-absolute
				a(href="#")
					img(src="img/logo.svg", alt="logo") 
			nav
				ul.navbar-nav.flex-row
					li.nav-item 
						a(href="#") 首頁
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
					li.nav-item 作品集
						a(href="#") 首頁
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
					li.nav-item 服務項目
						a(href="#") 首頁
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
					li.nav-item 部落格
						a(href="#") 首頁
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
					li.nav-item 關於我
						a(href="#") 首頁
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")
						span.item-frame(style="opacity: 1;")

		main.slogan
			p 讓使用者在觀賞與使用的旅程中，發現設計的價值標題裝飾而我在設計與開發的過程中，看見自己的價值

		section.container.pt-1
			ul.card-list.d-flex.flex-wrap
				li.card.list-unstyled.border-0.card-radius
					img.card-img-top.card-radius(src="img/work/work-img1.png", alt="星際旅行訂票平台")
					.card-body
						h3.card-title 星際旅行訂票平台
						p.card-text 悠遊宇宙的夢想，從這裡開始實現
						ul.card-tags
							li.list-unstyled 
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") Bootstrap
								
				li.card.list-unstyled.border-0.card-radius
					img.card-img-top.card-radius(src="img/work/work-img2.png" alt="理財App")
					.card-body
						h3.card-title 理財App
						p.card-text 連動帳戶與行動支付，讓AI提供您最好的理財選擇
						ul.card-tags
							li.list-unstyled
								a(href="#") APP設計
							li.list-unstyled
								a(href="#") iOS
							li.list-unstyled
								a(href="#") React
									
				li.card.list-unstyled.border-0.card-radius
					img.card-img-top.card-radius(src="img/work/work-img3.png" alt="醫美診所官網")
					.card-body
						h3.card-title 醫美診所官網
						p.card-text 永保青春的秘密，從粹究開始
						ul.card-tags
							li.list-unstyled
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") WordPress
									
				li.card.list-unstyled.border-0.card-radius
					img.card-img-top.card-radius(src="img/work/work-img4.png", alt="美美美早餐店POS機UI Design")
					.card-body
						h3.card-title 美美美早餐店POS機UI Design
						p.card-text 訂單送單一目瞭然，自動報表分析好輕鬆
						ul.card-tags
							li.list-unstyled
								a(href="#") UI設計
							li.list-unstyled
								a(href="#") 前端開發
							li.list-unstyled
								a(href="#") Wix