doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 六角學院2024切版任務二
		link(rel="stylesheet", href="css/all.css")
		link(rel="icon" type="image/png" size="16x16" href="img/icon/penguin-16.png")
		link(rel="icon" type="image/png" size="32x32" href="img/icon/penguin-32.png")
		link(rel="icon" href="img//icon/penguin-16.ico" type="image/x-icon")

	body
		nav.navbar.navbar-expand-lg.navbar-light
			header.container.position-relative
				h1.mb-0.position-absolute
					a.navbar-brand.m-0.p-0(href="#")
						img.site-logo(src="img/logo_svg/logo.svg", alt="logo")
				#navbarSupportedContent.collapse.navbar-collapse.justify-content-center
					ul.navbar-nav.gap40
						li.nav-item 
							a.nav-pag(aria-current="page" href="index.html") 首頁
						li.nav-item.nav-top
							a.nav-pag(href="#") 作品集
						li.nav-item
							a.nav-pag(href="#") 服務項目
						li.nav-item 
							a.nav-pag(href="#") 部落格
						li.nav-item
							a.nav-pag(href="#") 關於我

		section.slogan-banner.d-flex.flex-column.align-items-center.text-center
			.slogan.flex-column.position-relative
				img.slogan-quote-l(src="img/quote/quote-left.png", alt="qute-left")
				p.fs-4 讓使用者在觀賞與使用的旅程中，發現
					span.mark-line.position-relative 設計的價值
						img.mark(src="img/mark.png", alt="mark")
				p.fs-4 而我在設計與開發的過程中，看見
					span.mark-line.position-relative 自己的價值
						img.mark(src="img/mark.png", alt="mark")
				img.slogan-quote-r(src="img/quote/quote-right.png", alt="qute-right")
			.exp-list.d-flex.gap40
				.exp.d-flex.flex-column.align-items-center.gap-2
					h6 2B經驗
					p 內部監控系統、庫存系統、採購系統、行銷整合系統
				.exp.d-flex.flex-column.align-items-center.gap-2
					h6 2C經驗
					p 跨國美妝保養電商、個人品牌網站、醫美網站、電子商務

		main.portfolio.d-flex.flex-column.container
			ul.card-list.row.row-cols-lg-2
				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius(src="img/work/work-img1.png", alt="星際旅行訂票平台")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 星際旅行訂票平台
							p.card-text 悠遊宇宙的夢想，從這裡開始實現
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled 
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") Bootstrap
								
				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius(src="img/work/work-img2.png" alt="理財App")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 理財App
							p.card-text 連動帳戶與行動支付，讓AI提供您最好的理財選擇
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled
								a(href="#") APP設計
							li.list-unstyled
								a(href="#") iOS
							li.list-unstyled
								a(href="#") React
									
				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius.maw100p(src="img/work/work-img3.png" alt="醫美診所官網")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 醫美診所官網
							p.card-text 永保青春的秘密，從粹究開始
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled
								a(href="#") 網頁設計
							li.list-unstyled
								a(href="#") 響應式設計
							li.list-unstyled
								a(href="#") WordPress
									
				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius.maw100p(src="img/work/work-img4.png", alt="美美美早餐店POS機UI Design")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 美美美早餐店POS機UI Design
							p.card-text 訂單送單一目瞭然，自動報表分析好輕鬆
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled
								a(href="#") UI設計
							li.list-unstyled
								a(href="#") 前端開發
							li.list-unstyled
								a(href="#") Wix

				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius.maw100p(src="img/work/work-img5.png", alt="電影院訂票系統")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 電影院訂票系統
							p.card-text 三步驟完成訂票，電腦手機都支援
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled
								a(href="#") 前端開發
							li.list-unstyled
								a(href="#") 後端支援
							li.list-unstyled
								a(href="#") Vue

				li.card.list-unstyled.border-0.card-radius.pb-5.gap-3
					img.card-img-top.card-radius.maw100p(src="img/work/work-img6.png", alt="巧克巧克形象官網設計")
					.card-body.d-flex.flex-column.gap-4
						.card-content.d-flex.flex-column.gap-2
							h3.card-title 巧克巧克形象官網設計
							p.card-text 三步驟完成訂票，電腦手機都支援
						ul.card-tags.d-flex.flex-wrap.gap-3
							li.list-unstyled
								a(href="#") UI設計
							li.list-unstyled
								a(href="#") 設計系統
							li.list-unstyled
								a(href="#") 網路電商

			ul.pagination.d-flex.justify-content-center.gap-3
				li
					a.pagination-enable.fs-4(href="#") 1
				li
					a.pagination-disable.fs-4(href="#") 2
				li
					a.pagination-disable.fs-4(href="#") 3

		footer.footer
			.container.d-flex.align-items-center.justify-content-between.gap40
				.contact.row
					//- 廢案保留span.circle.position-absolute
					a.footer-link(href="#")
						img(src="img/logo_svg/logo.svg" alt="footer_logo")
					p 若有數位產品設計和開發相關問題
						br
						| 歡迎填寫表單，或直接與我聯絡！
					
					a.footer-link(href="mailto: service@hexschool.com" target="_blank") service@hexschool.com
				ul.sns.d-flex.flex-column
					li
						a.sns-enable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/list.svg" alt="填寫表單")
							| 填寫表單
					li
						a.sns-disable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/instagram.svg" alt="instergram")
							| hexschool_demo
					li
						a.sns-disable.d-flex.align-items-center(href="#")
							img(src="img/logo_svg/facebook.svg" alt="facebook")
							| hexschoolTW