@charset "UTF-8";
.card-radius {
  border-radius: 8px;
}

.border-none {
  border: none;
}

.maw100p {
  max-width: 100%;
}

.mah100p {
  max-height: 100%;
}

.gap40 {
  gap: 40px;
}

.gap55 {
  gap: 55px;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

/*外框檢查*/
body {
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  text-wrap: nowrap;
}