.footer{
  background-image: url(img/logo_svg/logo.svg);
  background-size: cover;

  &-link{
    color: $nine-one-color;
  }
  .container{
    padding: 80px 0;
    font-size: 20px;
  }
}

/*操縱單個項目的對齊，對齊的是文字底部*/
// .baseline{
//   align-self: baseline;
// }

/*自適應內容寬度*/
.fit-content{
  width: fit-content
}

.contact{
  gap: 24px;
}

.sns{
  width: 306px;
  gap: 24px;

  li{
    gap: 8px;
  }
  a{
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: 700;
  }
}