.navbar{
  background-color: $white;
  border-bottom: 1px solid $second-color;
  padding: 32px 0;

  li{
    transition: 0.2s;

    &:hover{
      background:
      linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 0,
      linear-gradient(to right, $nine-one-color 1px, transparent 1px) 0 100%,
      linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 0,
      linear-gradient(to left, $nine-one-color 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, $nine-one-color 1px, transparent 1px) 100% 0,
      linear-gradient(to top, $nine-one-color 1px, transparent 1px) 0 100%,
      linear-gradient(to top, $nine-one-color 1px, transparent 1px) 100% 100%;
    
      font-weight: 600;
      background-repeat: no-repeat;
      background-size: 8px 8px;
    }
  }
  h1{
    position: absolute; /*讓h1不影響橫向排版可以浮在頁面之上*/
    font-size: 0; /*logo定位後精準把h1垂直置中的重要功臣*/
  }
  
  &-toggler{
    margin-left: auto;
  }
}

.nav{
  &-link{
    padding: 4px 8px;
  }
}