@media (max-width: 1199.98px) {
  .intro-banner {
    flex-direction: column-reverse;
  }

  .intro-link {
    justify-content: center;
  }
  .intro-content {
    text-align: center;
  }
  .intro p {
    justify-content: center;
  }

  .product-work-2-overlay {
    display: none;
  }
  .product-fullintro {
    display: none;
  }
  .product-startravel {
    margin: 93px auto 0;
  }
  .product .transparent-block {
    margin: 93px auto 0;
  }
  .product-aesthetic {
    margin: 90px auto;
  }
}
@media (max-width: 991.98px) {
  .exp-list {
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}
@media (max-width: 767.98px) {
  .article-selected .swiper {
    padding-bottom: 0;
    margin-bottom: -8px;
  }
  .article-selected .swiper-slide {
    margin-bottom: 48px;
  }
  .article-selected .swiper-slide:nth-child(n+4) {
    display: none;
  }
  .article-selected .swiper-pagination {
    display: none;
  }

  .slogan-quote-l {
    left: 50%;
    transform: translateX(-50%);
  }
  .slogan-quote-r {
    display: none;
  }

  .card-tags {
    gap: 8px;
  }

  .footer {
    background-image: url(../img/footer/footer-bg-sm.png);
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .contact {
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .index-subtitle {
    width: 249px;
  }
  .index-subtitle:before {
    width: 249px;
  }

  .product-work-2 {
    background-image: url(../img/homepage/homepage-work2-sm.png);
  }

  .intro-hero-img img {
    content: url(../img/hero/hero-sm.png);
  }

  .exp-list {
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}
@media (min-width: 576px) {
  .index-subtitle {
    width: 372px;
  }
  .index-subtitle::before {
    width: 372px;
  }

  .product-work-2 {
    background-image: url(../img/homepage/homepage-work2-lg.png);
  }

  .intro-hero-img img {
    content: url(../img/hero/hero-lg.png);
  }
}
@media (min-width: 768px) {
  .article-selected-more {
    display: none !important;
  }

  .slogan-quote-l {
    left: 0;
  }

  .card-tags {
    gap: 16px;
  }

  .footer {
    background-image: url(../img/footer/footer-bg-lg.png);
  }
}
@media (min-width: 1200px) {
  .intro {
    margin-left: auto;
  }

  .product-fullintro-hide {
    display: none !important;
  }
  .product-startravel {
    margin-top: 80px;
  }
  .product .transparent-block {
    margin-top: 80px;
  }
  .product-aesthetic {
    margin: 176px 0 112px;
  }
}