@media (max-width: 991.98px) {
  .navbar-brand-wrapper {
    left: 1rem; /* 与 container 一致的左边距 */
  }
  .exp-list{
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
  }
}

@media (max-width: 767.98px) {
  .footer{
    background-image: url(../img/footer/footer-bg-sm.png);

    .container{
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 575.98px) {
  
  .intro-banner{
    flex-direction: column;
  }
  .intro{
    &-link{
      justify-content: center;
    }
    &-content{
      text-align: center;
    }
    &-hero-img img{
      content: url(../img/hero/hero-sm.png)
    }
  }

  .exp-list{
   flex-direction: column;
   gap: 20px;
   padding: 0 32px;
  }
}

@media (min-width: 576px) {
  .intro{
    margin-left: auto;

    &-hero-img img{
    content: url(../img/hero/hero-lg.png)
    }
  }
}

@media (min-width: 768px) {
  .footer{
    background-image: url(../img/footer/footer-bg-lg.png);
  }
}

/* 調整大螢幕下的左邊距 */
@media (min-width: 993px) {
  .navbar-brand-wrapper {
      left: 15px; /* 或根据需要调整 */
  }
}