//-------------------------------intro-banner-------------------------------

.intro-banner{
  margin: 0 auto;
}

.intro{
  gap: 60px;

  h3{
    font-size: 40px;
    font-weight: 600;
  }

  &-content{
    text-align: center;
  }

  &-info{
    font-size: 20px;
    color: $five-b-color;
  }

  &-main{
    .underline-f2e::after{
      background-size: 119px 8px;
      background-repeat: no-repeat;
      left: -10px;
    }
  }

  &-skill{
    color: $c-one-color;
  }

  &-hero-img img{
    display: block;
    width: 100%;
  }
}

//-------------------------------product-------------------------------

.product{
  gap: 80px;

  &-title{
    text-align: center;
  }
  &-bg{
    background-size: cover;
  }
  &-work1{
    background-image: url(../img/homepage/homepage-work1-bg.png);
  }
  &-work2{
    background-image: url(../img/homepage/homepage-work2-lg.png);
  }
  &-work3{
    background-image: url(../img/homepage/homepage-work3-bg.png);
  }
  &-full-intro{
    max-width: 526px;
    padding: 80px 40px 56px;
  }
}