//-------------------------------intro-banner-------------------------------

.intro-banner{
  margin: 0 auto;
}

.intro{
  gap: 60px;

  h3{
    font-size: 40px;
    font-weight: 600;
  }

  &-info{
    font-size: 20px;
    color: $five-b-color;
  }

  &-main{
    .underline-f2e::after{
      background-size: 119px 8px;
      background-repeat: no-repeat;
      left: -10px;
    }
  }

  &-skill{
    color: $c-one-color;
  }

  &-hero-img img{
    display: block;
    width: 100%;
  }
}

//-------------------------------product-------------------------------

.product{
  padding: 120px 0 0;

  img{
    display: block;
    max-width: 100%;
  }

  p{
    color: $white;
  }

  button{
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    background-color: $black;
    margin: 0 auto;
  }
  
  &-title{
    text-align: center;
  }

  &-bg{
    background-size: cover;
  }

  &-work{
    height: 800px;
    padding: 0 24px;

    &-1{
      background-image: url(../img/homepage/homepage-work1-bg.png);

      &-overlay{
        background-color: #27272780;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-2{
      background-image: url(../img/homepage/homepage-work2-lg.png);

      &-overlay{
        background-color: #0a101380;
        width: 50%;
        left: 0;
        height: inherit;
        padding: 0 110px 0 24px;
      }
    }

    &-3{
      background-image: url(../img/homepage/homepage-work3-bg.png);
      
      &-overlay{
        background-color: #0D0C0780;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-startravel{
    //圖片置底
    margin-top: auto;
  }

  &-aesthetic{
    padding: 176px 0 112px;
  }

  &-full-intro{
    width: 100%;
    max-width: 526px;
    padding: 80px 40px 56px;
    background-color: #ffffff1a;
    backdrop-filter: blur(5px);
    z-index: 2;

    &-2{
      //第二張卡片上下間距
      margin: 200px 0 200px auto;
    }
  }

  .card{
    border-radius: 24px;
    color: $white;
    
    &-body{
      border-bottom: 1px solid $second-color;
      padding: 0 0 40px;
    }

    &-tags{
      a{
        background-color: $white;

        &:hover{
          cursor: no-vertical-text;
          color: $second-color;
          background-color: $fontcolor-primary;
        }
      }
    }
  }
}

//-------------------------------service-------------------------------

.service{
  font-weight: 600;
  padding: 120px 0 120px 0;
  background-image: url(../img/homepage/homepage-services-bg.png);

  &-title{
    font-size: 32px;
    line-height: 38.4px;
  }
}

.collaborate{
  p{
    font-size: 28px;
    line-height: 33.6px;
  }

  button{
    font-size: 20px;
    line-height: 30px;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $black;
  }
}

//-------------------------------selected-article-------------------------------

.article-selected{
  transition: 0.5s;
  margin: 0 auto;
  
  img{
    width: 416px;
    max-width: 100%;
    height: auto;
    border: 1px solid $second-color;
    border-radius: 8px;
  }

  p{
    font-size: 20px;
    font-weight: 700;
  }

  &-title{
    text-align: center;
  }
}