//-------------------------------slogan-banner-------------------------------

.slogan-banner{
  margin-top: 97px;
  background: #fafafa;
  padding: 80px 0;
}

.slogan{
  padding: 59px 71px;

  p{
    margin-bottom: 0;
  }

  img{
    position: absolute;
  }
  
  &-quote-l{
    top: 0;
  }

  &-quote-r{
    bottom: 0;
    right: 0;
  }
}

.exp-list{
  h6{
    color: $five-b-color;
    &::before{
      content: "";
      border-bottom: 2px solid $c-one-color;
      z-index: 2;
      top: 25px;
      left: 47%;
      width: 24px;
      position: absolute;
    }
  }
  
  p{
    margin: 0;
  }
}

.exp{
  position: relative;
  max-width: 300px;
}

//-------------------------------modal-------------------------------

.modal{

  &-dialog{
    max-width: 1076px; 
  }

  &-title{
  text-align: center;
  }

  &-content{
    display: block;
  }

  h5{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
  }

  p{
    line-height: 24px;
  }
}

//-------------------------------portfolio-------------------------------

.portfolio{
  margin: 120px auto 0;
  gap: 72px;

  .card{
    &-body{
      padding: 0 16px;
    }
  }
}

//-------------------------------pagination-------------------------------

.pagination{
  padding-bottom: 120px;
  min-height: calc(100% - 50px);

  li{
    display: flex;
    gap: 10px;
  }
  a{
    border-radius: 4px;
    padding: 2px 13px;
    line-height: 36px;
    transition: 0.3s;
    &:hover{
      color: $white;
      background: $black;
    }
  }

  &-enable{
    color: $white;
    background: $black;
  }

  &-disable{
    color: $black;
  }
}