doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 六角學院2024切版任務二
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/all.css")

	body 
		header.header
			.header-container
				a(href="/")
					img(src="img/logo.svg", alt="Logo") 
		
		.container
			.row
				.col
				ul.card-list
					li.card.list-unstyled
						a(href="#")
							img(src="img/work/work-img1.png", alt="星際旅行訂票平台")
							.card-text
								a(href="#")
									h3 星際旅行訂票平台
									p 悠遊宇宙的夢想，從這裡開始實現
								ul.card-tags
									li.list-unstyled
										a(href="#") 網頁設計
									li.list-unstyled
										a(href="#") 響應式設計
									li.list-unstyled
										a(href="#") Bootstrap
									
				li.card
					a(href="#")
						img(src="img/work/work-img2.png" alt="理財App")
						.card-text
							a(href="#")
								h3 理財App
								p 連動帳戶與行動支付，讓AI提供您最好的理財選擇
							ul.card-tags
								li
									a(href="#") APP設計
								li
									a(href="#") iOS
								li
									a(href="#") React
									
				li.card
					a(href="#")
						img(src="img/work/work-img3.png" alt="醫美診所官網")
						.card-text
							a(href="#")
								h3 醫美診所官網
								p 永保青春的秘密，從粹究開始
							ul.card-tags
								li
									a(href="#") 網頁設計
								li
									a(href="#") 響應式設計
								li
									a(href="#") WordPress
									
				li.card
					a(href="#")
						img(src="img/work/work-img4.png", alt="美美美早餐店POS機UI Design")
						.card-text
							a(href="#")
								h3 美美美早餐店POS機UI Design
								p 訂單送單一目瞭然，自動報表分析好輕鬆
							ul.card-tags
								li
									a(href="#") UI設計
								li
									a(href="#") 前端開發
								li
									a(href="#") Wix