.card{

  &-img-top{
    height: auto;
    display: block;
    border: 1px solid $second-color;
    transition-duration: 0.5s;
    &:hover{
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  &-title{
    line-height: 1.2;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }

  &-text{
    color: $nine-one-color;
    font-weight: 400;
  }

  &-tags{
    flex-wrap: wrap;

    li{
      display: flex;
      gap: 10px;
      text-wrap: nowrap;
    } 
    
    a{
      border-radius: 16px;
      padding: 4px 12px;
      background-color: $second-color;
      transition-duration: 0.5s;

      &:hover{
        cursor: no-vertical-text;
        color: $second-color;
        background-color: $fontcolor-primary;
      }
    }
  }
}