.underline {
  display: inline-block;/*跳行*/
  z-index: 0;
}

.underline::after {
  position: absolute;
  content: "";
  background-image: url(../img/mark.png);
  width: 148px;
  height: 8px;
  z-index: -1;
  left: -15px;
  bottom: 2px;
}