//-----------------------------定義-----------------------------

$second-color: #f1f1f1;
$nine-one-color: #919191;
$c-one-color: #c1c1c1;
$five-b-color: #5b5b5b;

.card-radius{
  border-radius: 8px;
}
.border-none{
  border: none;
}

.maw100p{
  max-width: 100%;
}
.mah100p{
  max-height: 100%;
}
.gap40{
  gap: 40px;
}
.gap55{
  gap: 55px;
}
.gap80{
  gap: 80px;
}

.z0{
  z-index: 0;
}
.z1{
  z-index: 1;
}
//-------------------------------全域設定-------------------------------

/*外框檢查*/
// *{
//   outline: 1px solid black;
// }

body{
  font-family: "Noto Sans TC","Noto Sans", sans-serif;
  line-height: 1.5;
}

ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

p{
  margin: 0;
}

button{
  text-wrap: nowrap;
}